.container{
    margin: 0px auto;
    padding: 0px;
    width: 1060px;
    overflow: hidden;
    position: absolute;
   /* text-align: center;*/
    display: block;
}

*{
margin: 0px;
padding: 0px;
}
body{
    width: 1060px;
    margin: 0px auto;
}
h1{
    font-size: 24px;
    color: black;
    font-family: tahoma;
}
h2{
    font-family: tahoma;
    font-size: 18px;
    color:black;
}


ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. 
For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain.
 Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
    padding: 0;
    margin: 0;
}

ul.nav a, ul.nav a:visited { 
    display: block; 
    width: 160px;  
    color:white;
    font-family: tahoma;
    padding: 2px;
    font-size: 14px;
    text-decoration: none;
}

.lorem1
{
    font-family: tahoma;
    padding: 2px;
    font-size: 14px;
    color: black;

}

.lorem2{
    font-family: tahoma;
    font-size: 14px;
    color: #802525;
    padding-top: 20px
}
.color
{
    color:blue;
}

.header{
    background-color: #b2e7ff;
    font-family: tahoma;
    font-size: 24px;
    color: black;
    text-align: center;
    min-height: 20%;
    border-bottom: 2px #0ab1ff solid;
    padding: 20px;
}

.content{
    /*height: 800px;*/
   /* width: 1060px;*/
   margin: 0 auto;
    overflow: auto;
    
   /* min-height: 70%*/
}*

.fixedleft{
    background-color: #0ab1ff;
    padding: 25px 10px;
    width: 250px;
    font-family: tahoma;
    font-size: 18px;
    color:black;
    float:left;
    height: 500px;
    overflow: hidden;
       padding-bottom: 99999px;
    margin-bottom: -99999px;
    
}

.fixedright{
background-color:#ededed;
padding: 20px;
font-size: 24px;
color: black;
width: 750px;
float: left;
overflow: hidden;
   padding-bottom: 99999px;
    margin-bottom: -99999px;
}
.fixedleft, .fixedright {

    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

.footer{
    background-color: #3cff78;
    font-family: tahoma;
    font-size: 24px;
    color: black;
    text-align: center;
    border-bottom: 2px #0ab1ff;
    height: 60px;
    padding: 10px 0;
    position: relative;
    clear: both; /*
}
